# PostgreSQL
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres_db

# Database
DATASOURCE_URL=datasource_url

# Security
JWT_SECRET_KEY=jwt_secret_key
JWT_EXPIRATION=jwt_expiration
JWT_REFRESH_TOKEN_EXPIRATION=jwt_refresh_token_expiration

# Spring
SERVER_PORT=server_port
SERVER_ADDRESS=server_address

# Email
MAIL_HOST=mail_host
MAIL_PORT=mail_port
MAIL_USERNAME=mail_username
MAIL_PASSWORD=mail_app_password

# Stripe payments
STRIPE_API_KEY=stripe_api_key
STRIPE_WEBHOOK_SECRET=stripe_webhooke_secret
STRIPE_PRICE_ID=stripe_price_id